# JetBrains Rider & IntelliJ
.idea/
*.iml
*.iws

# Visual Studio Code
.vscode/

# Build artifacts & compiled binaries
target/
build/
.dart_tool/
.packages
pubspec.lock
*.dll
*.so
*.dylib

# Local Node Test Data
data_node_*/
neighbornet_data*/

# OS Files
.DS_Store
Thumbs.db
desktop.ini
.tmp.driveupload/
